@import '../node_modules/font-awesome/css/font-awesome.min.css';
/*@import '../node_modules/material-ui/svg-icons/index.js';*/
@import 'pages/heater.css';
@import 'pages/schedule.css';
@import 'components/thermostat.css';
@import 'components/Navbar.css';

.App {
  text-align: center;
}

html, body, #root, .App {
  height: 100%;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}
